services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pedidos-pagos-dev-jenkins
    user: "0:0"
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - TZ=America/Lima
      - JENKINS_OPTS=--httpPort=8080
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:
